/**

COMMON

**/

body {
  font-family: "monospace", sans-serif;
}

.font-primary {
  color: #00abae;
}

.title-icon {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 30px;
}

a.font-black {
  color: #000 !important;
}

/**

NAV

**/

.navbar {
  background: #fff;
}

nav li::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #00abae;
  position: absolute;
  bottom: 21px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav li:hover::before {
  width: 4.7%;
}

.proj::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #00abae;
  position: absolute;
  bottom: 21px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.proj:hover::before {
  width: 5.4%;
}

.javier {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientBG 2.5s linear infinite;
}

/**

ABOUT

**/

#background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#about {
  background: #fff;
  border-radius: 5px;
  margin: 60px auto;
  max-width: 400px;
  text-align: center;
  padding-bottom: 20px;
}

#about img {
  border-radius: 50%;
  width: 120px;
  margin-bottom: 10px;
}

#about .name {
  font-size: 19px;
}

#about .vocation {
  font-size: 17px;
  color: #a8a8ab;
  margin-bottom: 10px;
}

#about .skills {
  font-size: 15px;
  color: #00abae;
  margin-bottom: 10px;
}

#about .email {
  font-size: 14px;
  margin-top: 14px;
  text-decoration: none;
}

.colors:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientBG 2.5s linear infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#about .icons {
  font-size: 30px;
  margin-top: 20px;
}

#about a {
  color: #000;
}

/**

PROJECTS

**/

#project {
  margin: 60px auto;
  width: 80%;
}

#project h2 {
  text-align: center;
}

#project .card img {
  width: 100%;
}

#project .card-title {
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  #project {
    padding-top: 70px;
  }
}

.footer {
  margin: 20px;
}

.footer a {
  color: #000;
  text-decoration: none;
  padding: 20px;
}

a.social::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #00abae;
  position: absolute;
  bottom: 23px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

a.social:hover::before {
  width: 5%;
}

.up-arrow {
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 5%;
}
